$mainlight5: #d3f5e4;
$mainlight4: #a8ebc8;
$mainlight3: #7ce0ae;
$mainlight2: #51d695;
$mainlight1: #24cd7a;
$maindark1: #2e4150;
$maindark2: #576774;
$maindark3: #838d96;
$maindark4: #abb2b8;
$maindark5: #d4d9dc;
$shadow1: 0.3rem 0.3rem 0.3rem $maindark1;
$shadow1A: 0rem 0rem 0.3rem $maindark5;
$shadow2: 0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
$shadow2A: -0.2rem 0.2rem 0.1rem rgba(0, 0, 0, 0.5);
$shadow3: 0rem 0rem 0.2rem #2e415082;
$font-section: "Exo 2", sans-serif;
$transparentdark: #2e415082;
