.page-header {
  width: 102.4rem;
  max-width: 90%;
  margin: auto;
}
.page-title {
  font-size: 2rem;
  color: $maindark1;
  font-weight: bold;
  margin: 2rem auto 3rem;
}
.busca {
  font-size: 2rem;
  color: $maindark1;
  font-weight: bold;
  font-style: italic;
}
